In [2]:
from gdb2pgsql import transfer_gdb_to_postgis
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine,text 
import leafmap

In [4]:
# Define the paths and layer name (comment out either one gdb_path when not in use)
#gdb_path = "data/iB1000.gdb"
gdb_path = r"C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb"

# Define the db connection parameters
username = "postgres"
password = "12345"
host = "localhost"
dbname = "iB1000"
port = "5432"

pg_connection = f"PG:host={host} port={port} dbname={dbname} user={username} password={password}"
engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/{dbname}")

In [5]:
transfer_gdb_to_postgis(gdb_path, pg_connection)

Layer: UtilityNumber, Type: None
Layer: BUILDINGRELATEBUILDINGNAME, Type: None
Layer: SITENAME, Type: None
Layer: SITERELATESITENAME, Type: None
Layer: Street_Code, Type: None
Layer: BUILDINGNAME, Type: None
Layer: ADDRESSRELATEBUILDINGSITE, Type: None
Layer: ADDRESS, Type: None
Layer: BSLineAnno, Type: Multi Polygon
Layer: BSPointAnno, Type: Multi Polygon
Layer: BSPolygonAnno, Type: Multi Polygon
Layer: Building, Type: 3D Multi Polygon
Layer: BuildingAccessoryLine, Type: 3D Multi Line String
Layer: BuildingAnno, Type: Multi Polygon
Layer: BuildingAnnoHouseNo, Type: Multi Polygon
Layer: BuiltStructureLine, Type: 3D Multi Line String
Layer: BuiltStructurePoint, Type: 3D Point
Layer: BuiltStructurePolygon, Type: 3D Multi Polygon
Layer: CartoBuildingLine, Type: 3D Multi Line String
Layer: ProposedInfraAnno, Type: Multi Polygon
Layer: ProposedInfraStructureLine, Type: 3D Multi Line String
Layer: ProposedInfraStructurePoint, Type: 3D Point
Layer: Site, Type: 3D Multi Polygon
Layer: SiteAnno, Type: Multi Polygon
Layer: SubSite, Type: 3D Multi Polygon
Layer: SubSiteAnno, Type: Multi Polygon
Layer: CartoHydroLine, Type: 3D Multi Line String
Layer: HydroLine, Type: 3D Multi Line String
Layer: HydroLineAnno, Type: Multi Polygon
Layer: HydroPoint, Type: 3D Point
Layer: HydroPointAnno, Type: Multi Polygon
Layer: HydroPolygon, Type: 3D Multi Polygon
Layer: HydroPolygonAnno, Type: Multi Polygon
Layer: Shoreline, Type: 3D Multi Line String
Layer: BoulderPoint, Type: 3D Point
Layer: BoulderPolygon, Type: 3D Multi Polygon
Layer: CartoLandCoverLine, Type: 3D Multi Line String
Layer: LandCoverAnno, Type: Multi Polygon
Layer: LandCoverVector2, Type: 3D Multi Polygon
Layer: Tree, Type: 3D Point
Layer: PlaceNameAnno, Type: Multi Polygon
Layer: Berm, Type: 3D Multi Polygon
Layer: BMSslope, Type: 3D Multi Polygon
Layer: BMSslopeAnno, Type: Multi Polygon
Layer: CartoReliefLine, Type: 3D Multi Line String
Layer: Contour, Type: 3D Multi Line String
Layer: ContourAnno, Type: Multi Polygon
Layer: SpotHeight, Type: 3D Point
Layer: VerticalCutPolygon, Type: 3D Multi Polygon
Layer: CartoPedLine, Type: 3D Measured Multi Line String
Layer: CartoTransLine, Type: 3D Measured Multi Line String
Layer: PedestrianAnno, Type: Multi Polygon
Layer: RailwayAnno, Type: Multi Polygon
Layer: RailwayEntrance, Type: 3D Measured Point
Layer: RailwayPolygon, Type: 3D Measured Multi Polygon
Layer: RoadAnno, Type: Multi Polygon
Layer: RoadAssetPoint, Type: 3D Measured Point
Layer: TerminalAnno, Type: Multi Polygon
Layer: TransportLine, Type: 3D Measured Multi Line String
Layer: TransportLineAnno, Type: Multi Polygon
Layer: TransportPolygon, Type: 3D Measured Multi Polygon
Layer: TransportPolygonAnno, Type: Multi Polygon
Layer: StreetCentreLines, Type: 3D Measured Multi Line String
Layer: CartoUtilityLine, Type: 3D Multi Line String
Layer: UtilityLine, Type: 3D Multi Line String
Layer: UtilityLineAnno, Type: Multi Polygon
Layer: UtilityPoint, Type: 3D Point
Layer: UtilityPointAnno, Type: Multi Polygon
Layer: UtilityPolygon, Type: 3D Multi Polygon
Layer: UtilityPolygonAnno, Type: Multi Polygon
Layer: BMSslopeSymbol, Type: 3D Point
Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb UtilityNumber -nlt NONE
Command for layer UtilityNumber executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BUILDINGRELATEBUILDINGNAME -nlt NONE
Command for layer BUILDINGRELATEBUILDINGNAME executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SITENAME -nlt NONE
Command for layer SITENAME executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SITERELATESITENAME -nlt NONE
Command for layer SITERELATESITENAME executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Street_Code -nlt NONE
Command for layer Street_Code executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BUILDINGNAME -nlt NONE
Command for layer BUILDINGNAME executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ADDRESSRELATEBUILDINGSITE -nlt NONE
Command for layer ADDRESSRELATEBUILDINGSITE executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ADDRESS -nlt NONE
Command for layer ADDRESS executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BSLineAnno -nlt MULTIPOLYGON
Command for layer BSLineAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BSPointAnno -nlt MULTIPOLYGON
Command for layer BSPointAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BSPolygonAnno -nlt MULTIPOLYGON
Command for layer BSPolygonAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Building -nlt MULTIPOLYGON
Command for layer Building executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuildingAccessoryLine -nlt MULTILINESTRING
Command for layer BuildingAccessoryLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuildingAnno -nlt MULTIPOLYGON
Command for layer BuildingAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuildingAnnoHouseNo -nlt MULTIPOLYGON
Command for layer BuildingAnnoHouseNo executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuiltStructureLine -nlt MULTILINESTRING
Command for layer BuiltStructureLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuiltStructurePoint -nlt MULTIPOINT
Command for layer BuiltStructurePoint executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BuiltStructurePolygon -nlt MULTIPOLYGON
Command for layer BuiltStructurePolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoBuildingLine -nlt MULTILINESTRING
Command for layer CartoBuildingLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ProposedInfraAnno -nlt MULTIPOLYGON
Command for layer ProposedInfraAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ProposedInfraStructureLine -nlt MULTILINESTRING
Command for layer ProposedInfraStructureLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ProposedInfraStructurePoint -nlt MULTIPOINT
Command for layer ProposedInfraStructurePoint executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Site -nlt MULTIPOLYGON
Command for layer Site executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SiteAnno -nlt MULTIPOLYGON
Command for layer SiteAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SubSite -nlt MULTIPOLYGON
Command for layer SubSite executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SubSiteAnno -nlt MULTIPOLYGON
Command for layer SubSiteAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoHydroLine -nlt MULTILINESTRING
Command for layer CartoHydroLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroLine -nlt MULTILINESTRING
Command for layer HydroLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroLineAnno -nlt MULTIPOLYGON
Command for layer HydroLineAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroPoint -nlt MULTIPOINT
Command for layer HydroPoint executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroPointAnno -nlt MULTIPOLYGON
Command for layer HydroPointAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroPolygon -nlt MULTIPOLYGON
Command for layer HydroPolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb HydroPolygonAnno -nlt MULTIPOLYGON
Command for layer HydroPolygonAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Shoreline -nlt MULTILINESTRING
Command for layer Shoreline executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BoulderPoint -nlt MULTIPOINT
Command for layer BoulderPoint executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BoulderPolygon -nlt MULTIPOLYGON
Command for layer BoulderPolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoLandCoverLine -nlt MULTILINESTRING
Command for layer CartoLandCoverLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb LandCoverAnno -nlt MULTIPOLYGON
Command for layer LandCoverAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb LandCoverVector2 -nlt MULTIPOLYGON
Command for layer LandCoverVector2 executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Tree -nlt MULTIPOINT
Command for layer Tree executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb PlaceNameAnno -nlt MULTIPOLYGON
Command for layer PlaceNameAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Berm -nlt MULTIPOLYGON
Command for layer Berm executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BMSslope -nlt MULTIPOLYGON
Command for layer BMSslope executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb BMSslopeAnno -nlt MULTIPOLYGON
Command for layer BMSslopeAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoReliefLine -nlt MULTILINESTRING
Command for layer CartoReliefLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb Contour -nlt MULTILINESTRING
Command for layer Contour executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb ContourAnno -nlt MULTIPOLYGON
Command for layer ContourAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb SpotHeight -nlt MULTIPOINT
Command for layer SpotHeight executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb VerticalCutPolygon -nlt MULTIPOLYGON
Command for layer VerticalCutPolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoPedLine -nlt MULTILINESTRING
Command for layer CartoPedLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoTransLine -nlt MULTILINESTRING
Command for layer CartoTransLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb PedestrianAnno -nlt MULTIPOLYGON
Command for layer PedestrianAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb RailwayAnno -nlt MULTIPOLYGON
Command for layer RailwayAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb RailwayEntrance -nlt MULTIPOINT
Command for layer RailwayEntrance executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb RailwayPolygon -nlt MULTIPOLYGON
Command for layer RailwayPolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb RoadAnno -nlt MULTIPOLYGON
Command for layer RoadAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb RoadAssetPoint -nlt MULTIPOINT
Command for layer RoadAssetPoint executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb TerminalAnno -nlt MULTIPOLYGON
Command for layer TerminalAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb TransportLine -nlt MULTILINESTRING
Command for layer TransportLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb TransportLineAnno -nlt MULTIPOLYGON
Command for layer TransportLineAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb TransportPolygon -nlt MULTIPOLYGON
Command for layer TransportPolygon executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb TransportPolygonAnno -nlt MULTIPOLYGON
Command for layer TransportPolygonAnno executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb StreetCentreLines -nlt MULTILINESTRING
Command for layer StreetCentreLines executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb CartoUtilityLine -nlt MULTILINESTRING
Command for layer CartoUtilityLine executed successfully

Running command: ogr2ogr -f PostgreSQL PG:host=localhost port=5432 dbname=iB1000 user=postgres password=12345 C:\Users\Steve_Lau\Desktop\LS Training\ls_project1\iB1000.gdb UtilityLine -nlt MULTILINESTRING

In [17]:
table_name_1 = "BUILDINGNAME"
table_name_2 = "BUILDINGRELATEBUILDINGNAME"
table_name_3 = "building"
sql_1 = text(f"SELECT * FROM {table_name_1}")
sql_2 = text(f"SELECT * FROM {table_name_2}")
sql_3 = text(f"SELECT * FROM {table_name_3}")

In [23]:
# Read the tables into DataFrames
df_1 = pd.read_sql(sql_1, con=engine.connect())
df_2 = pd.read_sql(sql_2, con=engine.connect())

# Read the tables with geometry into DataFrames
gdf_1 = gpd.read_postgis(sql_3, con=engine.connect(), geom_col="shape") 

df_1.head()

,objectid,lastupdatedate,buildingnameid,englishbuildingname,chinesebuildingname,namestatus,st_code
0,1,2023-09-02 16:00:00+00:00,1101368238,Sham Tseng Village Tsz Tong,深井村祠堂,E,68225.0
1,2,2023-09-02 16:00:00+00:00,1101366428,Tsing Fai Tong Aqua Privy,深井清快塘旱廁,E,68213.0
2,3,2023-09-02 16:00:00+00:00,1101366358,Sham Tseng Sun Village Aqua Privy,深井新村旱廁,E,64079.0
3,4,2023-09-02 16:00:00+00:00,1101366588,Sham Tseng Village Supply Pump House,深井鄉村食水泵房,E,68225.0
4,5,2023-09-02 16:00:00+00:00,1101366678,None,排棉角村龍子苑,E,64075.0

In [24]:
# Select only the "BUILDINGNAMEID", "ENGLISHBUILDINGNAME", and "CHINESEBUILDINGNAME" columns from df_1
df_1_subset = df_1[["buildingnameid",
                  "englishbuildingname",
                  "chinesebuildingname"]]

# Merge df2 with the subset of df1 on the "BUILDINGNAMEID" column
df_3 = pd.merge(df_2, df_1_subset, on="buildingnameid")

# Display the first few rows of the merged DataFrame
df_3.head()

,objectid,lastupdatedate,buildingnameid,buildingid,englishbuildingname,chinesebuildingname
0,2,2023-09-02 16:00:00+00:00,1101367973,1100000458,Chuen Lung Village Aqua Privy,川龍村旱廁
1,3,2023-09-02 16:00:00+00:00,1101367804,1100004056,None,木棉下村公所何氏家祠
2,5,2023-09-02 16:00:00+00:00,1101368243,1100011094,Mount Haven Block 5,曉峰園第５座
3,6,2023-09-02 16:00:00+00:00,1101367784,1100003706,Yi Pei Chun Toilet,二陂圳廁所
4,7,2023-09-02 16:00:00+00:00,1101365720,1100002338,Lo Wai Village Office,老圍村公所

In [25]:
# Select only the "BUILDINGID", "ENGLISHBUILDINGNAME", and "CHINESEBUILDINGNAME" columns from df3
df_3_subset = df_3[["buildingid",
                  "englishbuildingname",
                  "chinesebuildingname"]]

# Merge gdf1 with the subset of df3 on the "BUILDINGID" column
gdf_2 = pd.merge(gdf_1,
                df_3_subset,
                on="buildingid")

# Display the first few rows of the merged DataFrame
gdf_2.head()

,objectid,lastupdatedate,buildingid,typeofbuildingblock,baselevel,rooflevel,baseleveldatasource,roofleveldatasource,buildingstatus,certainty,shape_length,shape_area,shape,englishbuildingname,chinesebuildingname
0,6,2024-05-07 16:00:00+00:00,1910247693,T,5.3,120.0,10.0,10.0,E,1,134.739147,1175.061936,"MULTIPOLYGON (((834979.859 812118.914, 834945....",Viva Place,偉華匯
1,8,2024-05-04 16:00:00+00:00,1910247673,P,NaN,NaN,NaN,NaN,P,1,576.375163,4219.597921,"MULTIPOLYGON (((838683.841 832108.401, 838684....",Podium,平台
2,9,2024-05-04 16:00:00+00:00,1910247670,P,NaN,NaN,NaN,NaN,P,1,211.508289,1867.085492,"MULTIPOLYGON (((838802.481 832136.004, 838802....",Podium,平台
3,10,2024-05-04 16:00:00+00:00,1910247669,P,NaN,NaN,NaN,NaN,P,1,267.948414,2513.780813,"MULTIPOLYGON (((838774.334 832051.217, 838798....",Podium,平台
4,11,2024-05-04 16:00:00+00:00,1910247632,T,NaN,NaN,NaN,NaN,P,1,187.242046,1123.065147,"MULTIPOLYGON (((838755.868 832088.787, 838752....",RESIDENTIAL RECREATIONAL FACILITIES,住客康樂設施

In [ ]:
#shp_path = "data/building.shp"

#Convert the datetimes to strings
#gdf2['LASTUPDATEDATE'] = gdf2['LASTUPDATEDATE'].dt.strftime('%Y-%m-%d')

#gdf2.to_file(shp_path, encoding='utf-8')

In [26]:
# Keep only relevant columns
gdf_3 = gdf_2.loc[:, ("buildingid",
                    "typeofbuildingblock",
                    "baselevel",
                    "rooflevel",
                    "buildingstatus",
                    "englishbuildingname",
                    "chinesebuildingname")]

gdf_3.head(30)

,buildingid,typeofbuildingblock,baselevel,rooflevel,buildingstatus,englishbuildingname,chinesebuildingname
0,1910247693,T,5.3,120.0,E,Viva Place,偉華匯
1,1910247673,P,NaN,NaN,P,Podium,平台
2,1910247670,P,NaN,NaN,P,Podium,平台
3,1910247669,P,NaN,NaN,P,Podium,平台
4,1910247632,T,NaN,NaN,P,RESIDENTIAL RECREATIONAL FACILITIES,住客康樂設施
5,1910247623,T,NaN,NaN,P,Scenic Tower 1,優景閣第１座
6,1910247622,T,NaN,NaN,P,SCENIC TOWER 6,優景閣第６座
7,1910247621,T,NaN,NaN,P,MARINA TOWER 1,漾景閣第１座
8,1910247620,T,NaN,NaN,P,MARINA TOWER 2,漾景閣第２座
9,1910247619,T,NaN,NaN,P,MARINA TOWER 3,漾景閣第３座
10,1910247618,T,NaN,NaN,P,SCENIC TOWER 5,優景閣第５座
11,1910247617,T,NaN,NaN,P,SCENIC TOWER 3,優景閣第３座
12,1910247616,T,NaN,NaN,P,SCENIC TOWER 1,優景閣第１座
13,1910247615,T,NaN,NaN,P,MARINA TOWER 5,漾景閣第５座
14,1910247217,T,9.4,62.1,E,North District Community Health Centre Building,北區社區健康中心大樓
15,1910247124,T,23.1,126.8,E,KTR 350,None
16,1910247123,P,4.5,23.1,E,Podium,None
17,1910246755,T,19.2,105.1,E,DL Tower,德林大廈
18,1910246666,T,38.7,51.1,P,Pump House,None
19,1910246565,T,39.4,44.9,P,Weighbridge Control Centre,None
20,1910246559,T,38.7,47.1,P,Reception Building,None
21,1910246558,T,38.7,47.8,P,Granulation Building,None
22,1910246076,T,4.8,135.0,E,The Hedon,None
23,1910245967,T,17.1,86.2,E,Montego Bay Tower 2,蔚藍東岸第２座
24,1910245957,T,17.2,80.0,E,Montego Bay Tower 1,蔚藍東岸第１座
25,1910245854,T,21.7,108.2,E,Montego Bay Tower 5,蔚藍東岸第５座
26,1910245815,T,20.8,36.9,E,T-Loft@Lok Wo,樂和．東寓
27,1910245755,T,21.7,108.2,E,Montego Bay Tower 3,蔚藍東岸第３座
28,1910245602,T,17.9,30.2,E,Ho Yuet Home,可悅居
29,1910245594,T,6.0,94.6,E,Immigration Headquarters Enforcement Tower,入境事務處總部執法大樓